<h1>Alterar Descrição da Imagem</h1>

<% form_for([@evento, @imagem]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :evento %><br />
    <%= f.label @evento.titulo %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao, :rows => 5, :cols => 30 %>
  </p>
  <p>
    <%= f.submit "Alterar" %>
  </p>
<% end %>
<%= link_to 'Voltar à Lista de Imagens', admin_evento_imagems_path %>
<br />
<br />
