<h1>Lista de Imagens</h1>

<%=h @evento.data.strftime("%d/%m/%Y") %> - <%=h @evento.titulo %>
<br />
<%=h @evento.descricao %>
<br />
<h1>Imagens</h1>
<table border="0" width="700" align="center">
  <tr>
    <td colspan="4" align="right"><%= link_to 'Voltar à Lista de Eventos', admin_eventos_path %> |
<%= link_to 'Cadastrar Nova Imagem', new_admin_evento_imagem_path %></td>  
  </tr>
  <tr>
    <td colspan="4">&nbsp;</td>  
  </tr>  
  <tr>
    <th width="20%">Imagem</th>
    <th>Descrição</th>
    <th colspan="2" width="20%">Opções</th>
  </tr>
<% 
	count = 0
	for imagem in @imagems 
%>
  <tr <%= (count % 2 == 0) ? '' : 'style="background-color:#F5F5F5"' %>>
	<td align="center"><%= link_to image_tag(imagem.avatar.url(:thumb)), [:admin, @evento, imagem] %></td>
    <td><%=h imagem.descricao %></td>
    <td align="center"><%= link_to 'Alterar', edit_admin_evento_imagem_path(@evento, imagem) %></td>
    <td align="center"><%= link_to 'Excluir', [:admin, @evento, imagem], :confirm => 'Tem certeza que deseja realmente excluir ?', :method => :delete,  :style => 'color: red;' %></td>
  </tr>
<% 
	count = count + 1
	end 
%>
  <tr>
    <td colspan="4">&nbsp;</td>  
  </tr> 
  <tr>
    <td colspan="4" align="right"><%= link_to 'Voltar à Lista de Eventos', admin_eventos_path %> |
<%= link_to 'Cadastrar Nova Imagem', new_admin_evento_imagem_path %></td>  
  </tr>   
</table>

<br />

<br />
<br />
