<h1>Editing evento</h1>

<% form_for([:admin, @evento]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </p>
  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @evento] %> |
<%= link_to 'Back', admin_eventos_path %>
