<h1>Lista de Eventos</h1>

<table border="0" cellpadding="2" cellspacing="2" width="500" align="center">
  <tr>
    <td colspan="5" align="right"><%= link_to 'Novo Evento', new_admin_evento_path %></td>  
  </tr>
  <tr>
    <td colspan="5">&nbsp;</td>  
  </tr>  
  <tr>
    <th>Data</th>  
    <th width="80%">Titulo</th>
    <th colspan="3">Opções</th>
  </tr>

<% for evento in @eventos %>
  <tr>
    <td><%=h evento.data.strftime("%d/%m/%Y") %></td>  
    <td><%=h evento.titulo %></td>
    <td><%= link_to 'Imagens', admin_evento_imagems_path(evento) %></td>
    <td><%= link_to 'Editar', edit_admin_evento_path(evento) %></td>
    <td><%= link_to 'Excluir', [:admin, evento], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="5">&nbsp;</td>  
  </tr>  
  <tr>
    <td colspan="5" align="center"><%= will_paginate @eventos,  options = { :prev_label => "anterior", :next_label => "próximo"} %></td>  
  </tr>
</table>
<br />
<br />
