<h1>Detalhes do Evento</h1>
<div id="fotos_content2">
	<div id="div_evento_content">
	
		<%=h @evento.data.strftime("%d/%m/%Y") %> - <%=h @evento.titulo %>
		<br />
		<%=h @evento.descricao %>
		<br />
		<br />
		<% for imagem in @evento.imagems %>
			<%= link_to image_tag(imagem.avatar.url(:thumb)), 
			imagem.avatar.url(:large), {:rel => 'lightbox[col]', :class => 'images', :title => imagem.descricao} %> 
		<% 	end %>	
	
	</div>
</div>
<div id="div_foto_fim" class="div_foto_fim"> 
	<span><%= link_to "ver todos os eventos (+)", eventos_path %></span>
</div>
<br />
<br />
<br />
<br />